{% extends 'base.html' %}
{% block main %}
<form id="form" action="/submit" method="post" class="form-inline">
    <div class="form-group">
        <label for="dimension">Dimension</label>
        <input type="range" class="form-range" id="dimension" name="dimension" min="2" max="32"
            oninput="this.nextElementSibling.value = this.value">
        <output class="form-text"></output>
    </div>
    <div class="form-group">
        <label for="benchmark-function">Benchmark function</label>
        <select id="benchmark-function" name="benchmark-function" class="form-select">
            <option value="sphere">Sphere</option>
            <option value="rastrigin">Rastrigin</option>
            <option value="ackley">Ackley</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    <div id="loading-indicator" style="display: none;">Calculating...</div>
</form>
</br>
<div id="table-container" style="display: none;">
    <table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Generation Size</th>
            <th scope="col">Offspring Size</th>
            <th scope="col">Parent Size</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Execution Time (sec)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="n-generation">{{ n_generation }}</td>
            <td id="n-offspring">{{ n_offspring }}</td>
            <td id="n-parent">{{ n_parent }}</td>
            <td id="X">{{ X }}</td>
            <td id="y">{{ y }}</td>
            <td id="exec-time">{{ exec_time }}</td>
        </tr>
    </tbody>
    </table>
</div>
</br>
<div id="img-container" style="display: none;"></div>
<script src="../static/cma.js"></script>
{% endblock %}