{% extends 'base.html' %}
{% block main %}
<form id="form" action="/submit" method="post" class="form-inline">
    <div class="form-group">
        <label for="m-param">Parameter M</label>
        <input type="range" class="form-range" id="m-param" name="m-param" min="1.5" max="10" step="0.5"
            oninput="this.nextElementSibling.value = this.value">
        <output class="form-text"></output>
    </div>
    <div class="form-group">
        <label for="l-param">Parameter L</label>
        <select id="l-param" name="l-param" class="form-select">
            <option value="zero">zero</option>
            <option value="linear">linear</option>
            <option value="success_rule">1/5 success rule</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dataset">Dataset</label>
        <select id="dataset" name="dataset" class="form-select">
            <option value="Hepta">Hepta</option>
            <option value="Tetra">Tetra</option>
            <option value="Chainlink">Chainlink</option>
            <option value="Atom">Atom</option>
            <option value="GolfBall">Golf Ball</option>
            <option value="Lsun">Lsun</option>
            <option value="EngyTime">Engy Time</option>
            <option value="Target">Target</option>
            <option value="TwoDiamonds">Two Diamonds</option>
            <option value="WingNut">Wing Nut</option>
            <option value="MySet1">My Set 1</option>
            <option value="MySet2">My Set 2</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    <div id="loading-indicator" style="display: none;">Calculating...</div>
</form>
</br>
<div id="table-container" style="display: none;">
    <table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Rand Index</th>
            <th scope="col">Fc</th>
            <th scope="col">Hc</th>
            <th scope="col">Cost Value</th>
            <th scope="col">Execution Time (sec)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="rand-index">{{ rand_index }}</td>
            <td id="fc">{{ fc }}</td>
            <td id="hc">{{ hc }}</td>
            <td id="cost-value">{{ cost_value }}</td>
            <td id="exec-time">{{ exec_time }}</td>
        </tr>
    </tbody>
    </table>
</div>
</br>
<div id="img-container" style="display: none;"></div>
<script src="../static/fcm-cma.js"></script>
<script src="../static/common.js"></script>
{% endblock %}